.button,
.btn,
.a,
input,
textarea,
select,
.picker__holder,
.iradio_line-purple,
.icheckbox_line-purple,
td {
  &:focus {
    outline: none;
  }
}

label {
  color: $headings-color;
}

.table-responsive-wrapper {
  display: block;
  width: 100%;

  @include media-breakpoint-down(md) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.bg-light,
.bg-light > a {
  color: $body-color !important;
}
.container-bg-shape {
  position: relative;
}
.infront-of-bg-shape {
  position: relative;
  z-index: 100;
}

.wrapper {
  overflow: hidden;
}

.wrap-bg-shape {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .bg-shape {
    path {
      fill: $gray-200;
    }
  }
  .app-bg-shape-1 {
    width: 100%;
    left: -72.5%;
    top: 2%;
    transform: rotate(157deg);
    -webkit-transform: rotate(157deg);
  }
  .app-bg-shape-2 {
    width: 86%;
    right: -59%;
    top: 2%;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    @include media-breakpoint-down(lg) {
    }
  }
}

nav.navbar {
  background-color: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  padding: 5px 25px;
  border: none;

  .dashboard-name {
    text-transform: uppercase;
    color: $body-color;

    &:hover {
      text-decoration: none;
    }
  }
  .company-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: $gray-600;
  }
}

.main-footer {
  background: $white;
  border-top: none;
  color: $body-color;
}

// Custom Sidebar
$account-nav-breakpoint: md;
$account-nav-opened-width:230px;
$account-nav-closed-width:45px;
.template-inner-sidebar {
  .sidebar-col {
    -ms-flex: 0 0 $account-nav-opened-width;
    flex: 0 0 $account-nav-opened-width;
    padding: 0;
    background: $white;
    border-right: none;
    color: $body-color;

    .account-nav-toggler {
      border-radius: 50%;
      border: none;
      padding: 6px 9px 6px 11px;
      top: 9px;
      right: -15px;
      position: absolute;
      display: none;
      width: 38px;
      height: 38px;
      font-size: 18px;
      line-height: 27px;

      i {
        padding: 0;
      }
    }

    .sidebar {
      height: auto;
      padding: 0;
    }

    @include media-breakpoint-down($account-nav-breakpoint) {
      position: absolute;
      height: 100%;
      z-index: 7;
      width: $account-nav-closed-width;
      white-space: nowrap;
      // overflow-x: hidden;
      transition: width 0.2s ease-out;
      -webkit-transition: width 0.2s ease-out;

      .account-nav {
        padding-top: 15px;
      }

      .sidebar {
        width: 100%;
        overflow-x: hidden;
      }
      .account-nav-toggler {
        display: inline-block;
      }

      .nav-header {
        visibility: hidden;
        opacity: 0;
        padding: 0px 12px;
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
      }
      .nav {
        .nav-item {
          a {
            visibility: hidden;
            padding: 9px 12px;

            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            i {
              visibility: visible;
            }
          }
        }
      }

      &.opened {
        width: $account-nav-opened-width;

        .nav-header {
          visibility: visible;
          opacity: 1;
          padding: 0px 27px;
        }

        .sidebar {
          width: 100%;
          overflow-x: visible;
        }

        .nav {
          .nav-item {
            a {
              padding: 9px 27px;
              visibility: visible;
            }
          }
        }

        .account-nav-toggler {
          padding: 6px 11px 6px 9px;
          // right: 9px;
          i {
            &::before {
              content: "\f053";
            }
          }
        }
      }
    }
  }
  .content-col {
    flex: 1;
    min-width: 0;
    @include media-breakpoint-down($account-nav-breakpoint) {
      padding:0;
      padding-left: $account-nav-closed-width;
    }
  }
  .main-footer {
    position: relative;
    z-index: 10;
  }
  .nav-sidebar > .nav-item {
    &:hover {
      > .nav-link {
        background-color: transparent;
        color: $dark;
        opacity: 0.8;
      }
    }
    > .nav-link {
      text-transform: uppercase;
      font-size: $font-size-md;

      &.active {
        background-color: transparent;
        color: $yellow;
      }
    }

    &.has-treeview {
      &.menu-open {
        > .nav-link {
          background-color: $light;
          color: $dark;
        }
      }
      .nav-treeview {
        > .nav-item {
          > .nav-link {
            text-transform: uppercase;
            font-size: $font-size-sm;
            &.active {
              background-color: transparent;
              color: $yellow;
            }
            &:hover {
              color: $dark;
              background-color: transparent;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

.form-control.is-invalid {
  padding-right: 2rem;
  background-position: right 8px center;
  background-size: 17px;
}

.callout {
  font-size: $font-size-md;
}

.psych-card-list {
  > .col {
    width: 220px;
    max-width: 220px;
  }
  .card {
    border-radius: 15px;

    .photo {
      width: 150px;
      height: auto;
      max-width: 100%;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    .card-body {
      position: relative;
      padding-bottom: 60px;

      .recommended-badge {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 0;
      }
      .btn-aboutme {
        position: absolute;

        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

//ICHECK
.iradio_line-purple,
.icheckbox_line-purple {
  padding: 5px 15px;
  text-align: center;
  background: white;
  border-radius: 3px;
  border: 1px solid $purple;
  color: $purple;
  font-size: $font-size-md;

  .icheck_line-icon {
    display: none;
  }
  &.hover {
    background: $purple-light;
  }
  &.checked {
    background: $purple;
    color: white;
  }
}

.days-list {
  .icheckbox_line-purple {
    padding: 5px 5px;
    font-size: $font-size-md;
  }
}

.iradio_square-purple,
.icheckbox_square-purple {
  background: none;
  position: relative;
  @extend %fa-icon;
  @extend .fas;
  border-radius: 50%;
  border: 1px solid $purple;

  &:before {
    content: fa-content($fa-var-check);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: white;
    font-size: 11px;
    display: none;
  }

  &.hover {
    &:before {
      color: $purple;
      display: inline-block;
    }
  }
  &.checked {
    background-color: $purple;
    &:before {
      color: white;
      display: inline-block;
    }
  }

  &.teal {
    border-color: $teal;
    &.hover {
      &:before {
        color: $teal;
      }
    }
    &.checked {
      background-color: $teal;
      &:before {
        color: white;
      }
    }
  }
}

//FULLCALENDAR
.fc-time-grid .fc-slats td {
  height: 55px;
  vertical-align: top;
}

.fc-unthemed td.fc-today {
  background: none;
}
.fc-unthemed th.fc-today {
  background: $yellow;
  color: $dark;
}
.fc-now-indicator {
  border: 1px solid $orange;
}
.fc-bgevent {
  &.non-working-hours {
    background: $teal;
    opacity: 0.3;
  }
}
.fc-list-item {
  &.appointment {
    &.confirmed {
      .fc-event-dot {
        background-color: $purple;
      }
    }
    &.completed {
      .fc-event-dot {
        background-color: $blue;
      }
    }
  }
}
.fc-event {
  border: none;
  .fc-content {
    color: $white;
    .fc-title {
      font-weight: 400;
    }
  }
  &.appointment {
    &.confirmed {
      background-color: $purple;

      .fc-event-dot {
        background-color: $purple;
      }
    }
    &.completed {
      background-color: $blue;

      .fc-event-dot {
        background-color: $blue;
      }
    }
  }
}
#agreement_wrapper {
  height: 300px;
  overflow-y: scroll;
}

#agreement_wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}

#agreement_wrapper::-webkit-scrollbar:vertical {
  width: 11px;
}

#agreement_wrapper::-webkit-scrollbar:horizontal {
  height: 11px;
}

#agreement_wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid $light;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}


.survey-question-card{
  .question-title{
    @include media-breakpoint-down(md) {
      font-size: $h3-font-size;
    }
    @include media-breakpoint-down(sm) {
      font-size: $h4-font-size;
    }
  }
}

//BOOTSTRAP DATETIMEPICKER
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
  @include media-breakpoint-down(sm) {
    width: auto;
    padding: 0 2px;
  height: 40px;
  line-height: 40px;
  }
}

.bootstrap-datetimepicker-widget {
  box-shadow: none !important;
  border: 3px solid $teal;

  &.dropdown-menu {
    @extend .shadow-lg;
    border: none;
    @include media-breakpoint-down(sm) {
      width: 19em;
    }
  }
  table {
    thead {
      tr {
        &:first-child {
          th.picker-switch {
            cursor: initial;
            &:hover {
              background: white;
            }
          }
        }
      }
    }
    td.day,
    th {
      height: 55px;
      width: 14.285%;
      border-radius: 50%;
      line-height: 15px;
      @include media-breakpoint-down(sm) {
        height: 43px;
      }
    }

    td.today {
      &:before {
        content: "";
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $purple;
        border: none;
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }

    td.disabled,
    td.disabled:hover,
    th.disabled,
    th.disabled:hover {
      color: #ccc;
      cursor: initial;
    }
  }
}

.avatar {
  width: 190px;
  height: 190px;
  border-radius: 50%;

  img {
    width: 100%;
  }

  @include media-breakpoint-down(lg) {
    width: 150px;
    height: 150px;
  }
  @include media-breakpoint-down(md) {
    width: 130px;
    height: 130px;
  }
}
#existing_avatar_list {
  .avatar-select {
    &.selected {
      border: 2px solid $teal;
      border-radius: 15px;
    }
  }
}
