

@import '~jquery-datetimepicker/build/jquery.datetimepicker.min.css';
@import '~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/bootstrap/main.css';

// App Variables
$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.85 !default;
$input-btn-font-size-sm: 0.84375rem;
$input-border-width: 1px !default;

// Should do a separate variable file for app
$modal-content-color: #828282 !default;
$modal-content-bg: white !default;
$modal-backdrop-bg: #828282 !default;
$modal-backdrop-opacity: 0.5 !default;

$h6-font-size: $font-size-base * 1 !default;

$font-weight-base: 300 !default;




@import '_variables';






@import '_fonts';


@import '~bootstrap/scss/bootstrap';

@import '~icheck/skins/square/purple.css';
@import '~icheck/skins/line/purple.css';

@import '../../public/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '../../public/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';

@import '../../public/bower_components/admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '../../public/bower_components/admin-lte/build/scss/ADMINLTE-raw.scss';


//@import '@fortawesome/fontawesome-free';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
//@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import 'bootstrap-spacer-mixins';

@import 'global';

@import 'app-custom';
@import 'admin-custom';