body {
  position: relative;
}

@include media-breakpoint-down(lg) {
  $font-size-base: 1rem;
  $font-size-lg: $font-size-base * 0.875;
  $font-size-sm: $font-size-base * 0.75;
  $font-size-md: $font-size-base * 0.875;

  $h1-font-size: $font-size-base * 2.188;
  $h2-font-size: $font-size-base * 2;
  $h3-font-size: $font-size-base * 1.875;
  $h4-font-size: $font-size-base * 1.563;
  $h5-font-size: $font-size-base * 1.25;
  $h6-font-size: $font-size-base * 1.125;

  body {
    font-size: $font-size-base;
  }
  h1,
  .h1 {
    font-size: $h1-font-size;
  }
  h2,
  .h2 {
    font-size: $h2-font-size;
  }
  h3,
  .h3 {
    font-size: $h3-font-size;
  }
  h4,
  .h4 {
    font-size: $h4-font-size;
  }
  h5,
  .h5 {
    font-size: $h5-font-size;
  }
  h6,
  .h6 {
    font-size: $h6-font-size;
  }
  .font-size-sm {
    font-size: $font-size-sm !important;
  }
  .font-size-md {
    font-size: $font-size-md !important;
  }
  .font-size-lg {
    font-size: $font-size-lg !important;
  }
  .form-control-lg {
    font-size: $font-size-sm;
  }
}

@include media-breakpoint-down(md) {
  $font-size-base: 0.88rem;
  $font-size-lg: $font-size-base * 1.5;
  $font-size-sm: $font-size-base * 0.75;
  $font-size-md: $font-size-base * 0.875;

  $h1-font-size: $font-size-base * 2.188;
  $h2-font-size: $font-size-base * 2;
  $h3-font-size: $font-size-base * 1.875;
  $h4-font-size: $font-size-base * 1.563;
  $h5-font-size: $font-size-base * 1.25;
  $h6-font-size: $font-size-base * 1.125;

  body {
    font-size: $font-size-base;
  }
  h1,
  .h1 {
    font-size: $h1-font-size;
  }
  h2,
  .h2 {
    font-size: $h2-font-size;
  }
  h3,
  .h3 {
    font-size: $h3-font-size;
  }
  h4,
  .h4 {
    font-size: $h4-font-size;
  }
  h5,
  .h5 {
    font-size: $h5-font-size;
  }
  h6,
  .h6 {
    font-size: $h6-font-size;
  }
  .font-size-sm {
    font-size: $font-size-sm !important;
  }
  .font-size-md {
    font-size: $font-size-md !important;
  }
  .font-size-lg {
    font-size: $font-size-lg !important;
  }
  .form-control-lg {
    font-size: $font-size-sm;
  }
}
@include media-breakpoint-down(sm) {
  $font-size-base: 1rem;
  $font-size-lg: $font-size-base * 0.875;
  $font-size-sm: $font-size-base * 0.75;
  $font-size-md: $font-size-base * 0.875;

  $h1-font-size: $font-size-base * 2.188;
  $h2-font-size: $font-size-base * 2;
  $h3-font-size: $font-size-base * 1.875;
  $h4-font-size: $font-size-base * 1.563;
  $h5-font-size: $font-size-base * 1.25;
  $h6-font-size: $font-size-base * 1.125;

  body {
    font-size: $font-size-base;
  }
  h1,
  .h1 {
    font-size: $h1-font-size;
  }
  h2,
  .h2 {
    font-size: $h2-font-size;
  }
  h3,
  .h3 {
    font-size: $h3-font-size;
  }
  h4,
  .h4 {
    font-size: $h4-font-size;
  }
  h5,
  .h5 {
    font-size: $h5-font-size;
  }
  h6,
  .h6 {
    font-size: $h6-font-size;
  }
  .font-size-sm {
    font-size: $font-size-sm !important;
  }
  .font-size-md {
    font-size: $font-size-md !important;
  }
  .font-size-lg {
    font-size: $font-size-lg !important;
  }
  .form-control-lg {
    font-size: $font-size-sm;
  }
}

.container-fluid {
  padding: 0 73px;
  @include media-breakpoint-down(lg) {
    padding: 0 55px;
  }
}

.no-mobile {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
$navbar-collapse: md;

nav.navbar {
  padding: 0;

  .navbar-toggler {
    border: none;
    background-image: url("/images/icons/nav-toggler.svg");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20px;
    width: 31px;
    padding: 0;
    border-radius: 0;
  }
  .navbar-collapse {
    .navbar-toggler {
      background-image: url("/images/icons/nav-toggler-2.svg");
      position: absolute;
      right: 350px;
      top: 58px;
      @include media-breakpoint-down(xs) {
        right: initial;
        left: calc((100vw - 323px - 31px) / 2);
      }
      @include media-breakpoint-down(xxs) {
        background-image: url("/images/icons/nav-toggler-3.svg");
        right: initial;
        left: 20px;
        z-index: 100;
        top: 30px;
      }
    }
  }
  .navbar-brand {
    width: 86px;
    img.logo {
      width: 100%;
    }
  }
  .navbar-nav {
    @include mt(5);
    @include ml(auto);
    @include mb(3);

    .nav-item {
      .nav-link {
        margin: 0 10px;
        padding: 7px 10px 5px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
      .btn {
        margin: 0 10px;
      }
    }
  }
  .nav-wrap {
    display: flex;
    width: 100%;
  }
  @include media-breakpoint-down($navbar-collapse) {
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
    padding: 5px 25px;
    position: fixed;
    width: 100%;
    top: 0;

    > .container {
      max-width: 100%;
    }

    .navbar-nav {
      @include m(0);
      margin-top: 69px;
      .nav-item {
        .nav-link {
          font-size: 20px;
          margin: 13px 0;
          p {
            margin: 0;
          }
        }
        .btn {
          min-width: 200px;
          border-radius: 10px;
          font-size: 15px;
          padding: 20px 0;
          margin: 10px 0;
        }
        .btn-contact {
          margin-top: 20px;
        }
      }
    }
    .navbar-brand {
      width: 68px;
    }
    .nav-wrap {
      display: block;
      width: 323px;
      background-color: $blue;
      min-height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      padding: 30px;
      @include media-breakpoint-down(xxs) {
        width: 100%;
      }
      .navbar-brand {
        @include mx(auto);
        @include p(0);
        width: 77px;
      }
      .wrap-bg-shape {
        overflow: hidden;

        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .bg-shape {
        }
        .bg-shape-top {
          width: 200%;
          left: -133px;
          top: -340px;
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          path {
            fill: $white;
          }
          @include media-breakpoint-down(xxs) {
            top: -62%;
          }
        }
        .bg-shape-1 {
          width: 204%;
          left: -308px;
          bottom: -198px;
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }
        .bg-shape-2 {
          width: 144%;
          left: -300px;
          bottom: -231px;
          transform: rotate(-36deg);
          -webkit-transform: rotate(-36deg);
        }
        .bg-shape-3 {
          width: 142%;
          right: -246px;
          bottom: -200px;
          transform: rotate(54deg);
          -webkit-transform: rotate(54deg);
        }
      }
    }

    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(6, 6, 6, 0.92);
      overflow-y: scroll;
      -webkit-transition: right 0.3s ease-in;
      -o-transition: right 0.3s ease-in;
      -moz-transition: right 0.3s ease-in;
      transition: right 0.3s ease-in;

      .navbar-toggler-zone {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
    .navbar-collapse.collapsing {
    }
    .navbar-collapse.show {
      right: 0;
    }
  }
}

.nav-collapsed-only {
  display: none;
  @include media-breakpoint-down($navbar-collapse) {
    display: block;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 34px 0 0;
  @include media-breakpoint-down($navbar-collapse) {
    padding: 0;
  }
}

footer {
  .footer-logo {
    width: 170px;
    img {
      width: 100%;
    }
    @include media-breakpoint-down(xs) {
      @include mx(auto);
      width: 237px;
    }
  }
  .footer-nav {
    padding: 0 10px;
    @include media-breakpoint-down(md) {
      @include mt(9);
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 0;
      @include mt(5);
    }
    .col-links {
      padding: 0 10px;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
      @include media-breakpoint-down(xs) {
        @include mb(3);
      }
    }
  }
  ul.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 15px;
      a {
        color: $secondary;
        &:hover {
          color: $light;
        }
      }
    }
  }
  .col-logo {
    @include make-col(3);
    @include px(3);
    @include media-breakpoint-down(md) {
      @include make-col(6);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(12);
    }
  }
  .col-address {
    @include make-col(3);
    @include px(3);
    @include media-breakpoint-down(md) {
      @include make-col(6);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(12);
    }
    .address-wrap {
      display: table;
      @include media-breakpoint-down(xs) {
        @include mx(auto);
        display: block;
      }

      .pin-wrap {
        display: table-cell;
        width: 18px;
        padding-right: 8px;
        @include media-breakpoint-down(xs) {
          display: block;
          width: 100%;
          padding-right: 0px;
          @include mt(3);
        }
        .pin {
          margin-top: 5px;
          @include media-breakpoint-down(xs) {
            width: 42px;
            height: auto;
          }
        }
      }
      .address-text {
        display: table-cell;
        @include media-breakpoint-down(xs) {
          display: block;
        }
      }
    }
  }

  .col-footer-links {
    @include make-col(6);
    @include px(3);
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }
  }

  @include media-breakpoint-down(md) {
    font-size: $font-size-lg;
    .font-size-sm {
      font-size: $font-size-sm !important;
    }
  }
  @include media-breakpoint-down(xs) {
    text-align: center;
    font-size: 22px !important;
    .font-size-sm {
      font-size: 18px !important;
    }
  }

  .social-links {
    li {
      display: inline-block;
      width: 35px;
      margin-right: 14px;
      @include media-breakpoint-down(xs) {
        width: 42px;
        @include my(2);
      }
      svg {
        width: 100%;
        // .cls-2 {
        //   fill: $white;
        // }
        // &.twitter {
        //   .cls-1 {
        //     fill: $blue;
        //   }
        // }
        // &.ig {
        //   .cls-1 {
        //     fill: $purple;
        //   }
        // }
        // &.fb {
        //   .cls-1 {
        //     fill: $teal;
        //   }
        // }
        // &.linkedin {
        //   .cls-1 {
        //     fill: $orange;
        //   }
        // }
      }
    }
  }
}

.col-with-shape {
  position: inherit;
  @include media-breakpoint-down(sm) {
    position: relative;
  }
}
.container-bg-shape {
  position: relative;
}

.container-purple {
  background-color: #774e9d;
  color: #fff;
}
#mainCollapse {
  min-height: 100%;
  display: none;
  flex-direction: column;
  align-items: stretch;
  &.show {
    display: flex;
  }
}
.main {
  overflow: hidden;
  flex-grow: 1;
}
footer,
header,
main {
  flex-shrink: 0;
}

.form-check-input {
  margin-top: 0.5rem;
}

.simple-page {
  background: $light;
  .main {
    padding-top: 192px; //122 header + 70
    padding-bottom: 50px;
    @include media-breakpoint-down(md) {
      padding-top: 120px;
      padding-bottom: 30px;
    }
  }
  header {
    .navbar-dark .navbar-nav .nav-link {
      color: $dark;
      @include media-breakpoint-down($navbar-collapse) {
        color: $white;
      }
    }
  }
  strong {
    font-weight: $headings-font-weight;
    color: $headings-color;
  }
  .form-control.is-invalid {
  }
  .invalid-feedback {
    text-align: left;
  }
}

.simple-page {
  &.videos {
    .main {
      padding-bottom: 0;
      @include media-breakpoint-down(md) {
        padding-top: 80px;
      }
    }
  }
}


.auth-page {
  .main {
    position: relative;

    .wrap-bg-shape {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;

      .bg-shape {
        path {
          fill: $gray-200;
        }
      }
      .app-bg-shape-1 {
        width: 100%;
        left: -72.5%;
        top: 2%;
        transform: rotate(157deg);
        -webkit-transform: rotate(157deg);
      }
      .app-bg-shape-2 {
        width: 86%;
        right: -59%;
        top: 2%;
        transform: rotate(12deg);
        -webkit-transform: rotate(12deg);
        @include media-breakpoint-down(lg) {
        }
      }
    }
  }

  .form-control{
    border-width: 1px;
  }
  .invalid-feedback {
    display: block;
  }

}

#loginCollapse {
  position: relative;
  overflow: hidden;

  .login-close {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .login-row {
    padding-bottom: 40px;
    .col-login {
      @include make-col(7);
      @include px(4);
      @include py(5);

      @include media-breakpoint-down(lg) {
      }
      @include media-breakpoint-down(md) {
        @include make-col(9);
      }
      @include media-breakpoint-down(xs) {
        @include make-col(12);
        @include px(3);
        @include pt(10);
      }
    }
  }
  .form-control {
    border: 1px solid $gray-400;
    padding: 1.25rem 1rem;
  }
  .submit-button {
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
  }

  .wrap-bg-shape {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .bg-shape {
      path {
        fill: $gray-200;
      }
    }
    .login-bg-shape-1 {
      width: 100%;
      left: -72.5%;
      top: 2%;
      transform: rotate(157deg);
      -webkit-transform: rotate(157deg);
    }
    .login-bg-shape-2 {
      width: 86%;
      right: -59%;
      top: 2%;
      transform: rotate(12deg);
      -webkit-transform: rotate(12deg);
      @include media-breakpoint-down(lg) {
      }
    }
  }
  .login-card {
    border-radius: 0;
    box-shadow: 10px 25px 25px 0 rgba(0, 0, 0, 0.09);

    .card-body {
      @include px(9);
      @include py(10);

      @include media-breakpoint-down(lg) {
        @include px(7);
        @include py(8);
      }
      @include media-breakpoint-down(xs) {
        @include px(3);
        @include py(8);
      }
    }
  }
  .login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 7px solid $teal;
    height: 40px;
    width: 100%;
    @include media-breakpoint-down(xs) {
      height: 0;
      width: 0;
      left: initial;
      bottom: initial;
      top: 0;
      left: 0;
      border: none;
    }
    .wrap-bg-shape {
      overflow: hidden;
      .bg-shape {
        width: 86%;
        right: -27.5%;
        bottom: -816px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        @include media-breakpoint-up(xxl) {
          right: -26.5%;
          bottom: -839px;
        }
        @include media-breakpoint-down(lg) {
          right: -26%;
          bottom: -689px;
        }
        path {
          fill: $purple;
        }
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .login-close-btn {
      cursor: pointer;
      position: absolute;
      right: 70px;
      top: -36px;
      height: 65px;
      width: 65px;
      border-radius: 50%;
      // background-color: $teal;
      @include media-breakpoint-down(xs) {
        right: inherit;
        left: 20px;
        top: 25px;
        height: 48px;
        width: 48px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
      }
      &:before {
        content: "";
        background-image: url("/images/icons/chevron.svg");
        background-position: 17px 21px;
        background-size: 50%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include media-breakpoint-down(xs) {
          background-position: 13px 15px;
          background-size: 45%;
        }
      }

      &:hover {
        &:before {
        }
      }
    }
  }
}

.about-us {
  #loginCollapse {
    .login-footer {
      .wrap-bg-shape {
        .bg-shape {
          width: 86%;
          right: -30%;
          bottom: -858px;
          transform: rotate(11deg);
          -webkit-transform: rotate(11deg);

          @include media-breakpoint-up(xxl) {
            right: -30.5%;
            bottom: -903px;
          }
          @include media-breakpoint-down(lg) {
            bottom: -758px;
            width: 116%;
            right: -58%;
          }
          path {
            fill: $blue;
          }
        }
      }
    }
  }
}

.for-members {
  #loginCollapse {
    .login-footer {
      .wrap-bg-shape {
        .bg-shape {
          width: 90%;
          right: -35%;
          bottom: -794px;
          transform: rotate(7deg);
          -webkit-transform: rotate(7deg);
          @include media-breakpoint-up(xxl) {
            right: -31.5%;
            bottom: -857px;
          }
          @include media-breakpoint-down(lg) {
            width: 100%;
            right: -42%;
            bottom: -721px;
          }
          path {
            fill: $orange;
          }
        }
      }
    }
  }
}
.carousel-wrap {
  padding-left: 35px;
  position: relative;
  &:before {
    content: " ";
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: -1px;
    background-image: url("/images/icons/bullet.svg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  #heroBulletCarousel {
    .carousel-inner {
      .carousel-item {
        transition: transform 2s ease, opacity 0.3s linear;
        @include media-breakpoint-down(sm) {
          min-height: 50px;
        }
      }
    }
  }
}

.infront-of-bg-shape {
  position: relative;
  z-index: 100;
}

.icon-wrap {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  img {
    width: 100%;
  }
}

.section {
  .wrap-bg-shape {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .vector-image {
    img {
      width: 100%;
    }
  }

  .col-text {
    @include make-col(5);
    @include px(3);

    @include media-breakpoint-down(lg) {
      @include make-col(6);
    }
  }
}

.section-1 {
  padding-top: 122px; // 122 height of header
  @include media-breakpoint-down(md) {
    padding-top: 80px;
  }
}

.section-what-keeps-them {
  > .row {
    padding-bottom: 40px; //122

    @include media-breakpoint-down(md) {
      padding: 20px 0 50px;
    }
  }

  .wrap-bg-shape {
    .bg-shape {
      width: 86%;
      right: -27.5%;
      bottom: -90px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      @include media-breakpoint-up(xxl) {
        right: -26.5%;
        bottom: -135px;
      }
      @include media-breakpoint-down(lg) {
        right: -26%;
        bottom: -54px;
      }
      @include media-breakpoint-down(md) {
        right: -28%;
        bottom: -17px;
      }

      @include media-breakpoint-down(sm) {
        right: -23%;
        bottom: -101px;
        width: 105%;
        transform: rotate(21deg);
        -webkit-transform: rotate(21deg);
        max-width: 590px;
      }
      @include media-breakpoint-down(xs) {
        right: -23%;
        bottom: -95px;
        width: 120%;
        transform: rotate(21deg);
        -webkit-transform: rotate(21deg);
        max-width: 590px;
      }
    }
  }
  .col-image {
    @include make-col(6);
    @include px(3);
    @include pb(4);
    @include pt(10);
    @include pr(0);
    @include media-breakpoint-down(md) {
      @include pr(3);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
      @include pt(10);
    }
  }
  .col-text {
    @include pl(1);
    @include mb(10);

    @include media-breakpoint-down(lg) {
      @include px(4);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
      @include mb(0);
      @include mt(6);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include mt(7);
      @include mb(10);
    }
  }
}
.section-featuredin {
  padding-bottom: 140px;
  @include media-breakpoint-down(md) {
    @include px(0);
  }
}

.section-empowered-workforce {
  .wrap-bg-shape {
    .bg-shape {
      width: 86%;
      right: -30%;
      bottom: -158px;
      transform: rotate(11deg);
      -webkit-transform: rotate(11deg);
      @include media-breakpoint-up(xxl) {
        right: -30.5%;
        bottom: -205px;
      }
      @include media-breakpoint-down(lg) {
        bottom: -135px;
        width: 116%;
        right: -58%;
      }
      @include media-breakpoint-down(md) {
        bottom: -90px;
      }
      @include media-breakpoint-down(sm) {
        right: -33%;
        width: 105%;
      }
    }
  }
  .col-text {
    @include pl(1);
    @include pt(5);

    @include media-breakpoint-down(lg) {
      @include px(4);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include mt(3);
      @include mb(10);
    }
  }
}

.section-mission {
  .wrap-bg-shape {
    .bg-shape {
      width: 53%;
      left: -7.5%;
      top: -270px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);

      @include media-breakpoint-up(xxl) {
        top: -188px;
        width: 47%;
        left: -9%;
      }
      @include media-breakpoint-down(lg) {
        top: -195px;
      }
      @include media-breakpoint-down(md) {
        top: -142px;
      }
      @include media-breakpoint-down(sm) {
        top: -35px;
        width: 116%;
        left: -36.5%;
      }
      @include media-breakpoint-down(xs) {
        top: -53px;
        width: 107%;
        left: -18.5%;
      }
    }
  }
  .vector-image {
    top: -155px;
    @include media-breakpoint-down(lg) {
      top: -115px;
    }
    @include media-breakpoint-down(md) {
      top: -73px;
    }
    @include media-breakpoint-down(sm) {
      top: -22px;
    }
  }
  .col-text {
    @include pr(1);

    @include media-breakpoint-down(lg) {
      @include px(4);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include mt(4);
      @include mb(10);
    }
  }
}

.section-story {
  margin-top: -57px;
  .wrap-bg-shape {
    .bg-shape {
      width: 52.5%;
      right: -5%;
      top: -302px;
      transform: rotate(173deg);
      -webkit-transform: rotate(173deg);

      @include media-breakpoint-up(xxl) {
        width: 48%;
        right: -4%;
        top: -425px;
      }
      @include media-breakpoint-down(lg) {
        top: -159px;
        right: -10%;
      }
      @include media-breakpoint-down(md) {
        top: -111px;
      }
      @include media-breakpoint-down(sm) {
        top: -88px;
        width: 105.5%;
        right: -33%;
      }
      @include media-breakpoint-down(xs) {
        top: 12px;
        width: 86.5%;
        right: -13%;
      }
    }
  }
  .vector-image {
    top: -90px;
    @include media-breakpoint-down(lg) {
      top: -70px;
    }
    @include media-breakpoint-down(md) {
      top: 0px;
    }
  }
  .col-text {
    @include pl(1);

    @include media-breakpoint-down(lg) {
      @include px(4);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
      @include mt(7);
      @include mb(10);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include mt(0);
      @include mb(10);
    }
  }
}

.section-approach {
  .col-text {
    @include px(3);
    @include make-col(5);
    @include make-col-offset(1);

    @include media-breakpoint-down(lg) {
      @include px(4);
      @include make-col(6);
      @include make-col-offset(0);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(sm) {
      @include px(3);
      @include make-col(12);
      text-align: center;
    }
  }
  .row-cards {
    .col-cards {
      @include make-col(10);
      @include px(3);

      @include media-breakpoint-down(lg) {
        @include make-col(12);
      }
      @include media-breakpoint-down(md) {
        @include px(3);
      }
      @include media-breakpoint-down(md) {
        @include px(2);
      }

      .col-card {
        @include make-col(3);
        @include px(3);
        @include media-breakpoint-down(md) {
          @include px(2);
        }
        @include media-breakpoint-down(sm) {
          @include make-col(6);
          @include p(2);
          text-align: center;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      @include px(1);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(md) {
      @include px(3);
    }
  }
}

.section-employees-calculator {
  .wrap-bg-shape {
    .bg-shape {
      width: 52%;
      left: -7.5%;
      top: 209px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);

      @include media-breakpoint-up(xxl) {
        top: 134px;
      }
      @include media-breakpoint-down(lg) {
        top: 252px;
      }
      @include media-breakpoint-down(md) {
        bottom: -85px;
        top: initial;
      }
      @include media-breakpoint-down(sm) {
        bottom: -156px;
        width: 127%;
        left: -35%;
      }
      @include media-breakpoint-down(xs) {
        bottom: -60px;
        width: 109%;
        left: -19%;
      }
    }
  }
  .col-text {
    @include px(4);

    @include media-breakpoint-down(lg) {
      @include pr(10);
    }
    @include media-breakpoint-down(md) {
      @include pr(0);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
    }
  }
  .employees-stats {
    @include pr(7);
    @include mb(5);
    @include mt(6);

    @include media-breakpoint-down(sm) {
      @include px(4);
      text-align: center;
    }
  }

  .col-image {
    @include make-col(6);
    @include px(3);
    @include pt(5);
    @include pl(0);
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
    }
  }

  .vector-image {
    img {
      width: 84%;
      @include media-breakpoint-down(sm) {
        margin: auto;
        width: 94%;
      }
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}

.section-thriving-employees {
  padding-bottom: 220px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 315px;
  }

  > .container {
    @include px(1);
    @include media-breakpoint-down(sm) {
      @include px(3);
    }
  }

  .section-title {
    @include mb(3);
    @include mt(5);
    @include media-breakpoint-down(md) {
      @include mt(0);
    }
  }
  .sub-title {
    @include mb(4);
    @include pr(4);
    @include media-breakpoint-down(md) {
      @include pr(0);
    }
  }

  .wrap-bg-shape {
    .bg-shape {
      width: 55%;
      right: -5%;
      top: 209px;
      transform: rotate(173deg);
      -webkit-transform: rotate(173deg);

      @include media-breakpoint-up(xxl) {
        right: -10%;
        top: -22px;
      }
      @include media-breakpoint-down(md) {
        top: 242px;
      }
      @include media-breakpoint-down(sm) {
        top: -113px;
        width: 112%;
        right: -28%;
      }
      @include media-breakpoint-down(xs) {
        top: -60px;
        width: 112%;
        right: -15%;
      }
    }
  }
  .vector-image {
    img {
      width: 100%;
    }
  }

  .row-cards {
    @include media-breakpoint-down(md) {
      @include px(3);
    }
    @include media-breakpoint-down(sm) {
      @include mt(8);
    }
    .col-cards {
      @include make-col(6);
      @include px(3);

      @include media-breakpoint-down(md) {
        @include px(2);
      }
      @include media-breakpoint-down(sm) {
        @include make-col(12);
        text-align: center;
      }
    }
  }
  .thriving-card {
    @include media-breakpoint-down(sm) {
      width: 230px;
      @include mx(auto);
      @include mb(5);
    }
    .card-body {
      @include py(4);
      @include media-breakpoint-down(sm) {
        @include pb(5);
      }
    }
    .icon-wrap {
      width: 78px;
      height: auto;
      border-radius: 0;
    }
    p {
      @include px(2);
      @include mb(2);
      @include media-breakpoint-down(md) {
        @include px(0);
      }
    }
  }
  .col-image {
    @include make-col(6);
    @include px(3);
    @include pt(5);
    @include media-breakpoint-down(md) {
      @include pt(0);
    }
    @include media-breakpoint-down(sm) {
      @include px(4);
      @include make-col(12);
      @include mt(10);
      @include pt(3);
    }
  }

  .col-text {
    @include pr(0);
    @include media-breakpoint-down(lg) {
      @include pl(5);
    }
    @include media-breakpoint-down(md) {
      @include pl(3);
    }
    @include media-breakpoint-down(sm) {
      @include px(4);
      text-align: center;
      @include make-col(12);
      @include mt(5);
    }
  }
}

.our-approach-list {
  .card {
    border-radius: 20px;
    .icon {
      width: 60px;
      margin: auto;
    }
  }
}
.our-scientifics-list,
.our-team-list {
  justify-content: center;
  .card {
    border-radius: 15px;
    .photo {
      width: 130px;
      height: 130px;
      margin: auto;

      img {
        width: 100%;
      }

      @include media-breakpoint-down(lg) {
        width: 130px;
        height: 130px;
      }
      @include media-breakpoint-down(md) {
        width: 130px;
        height: 130px;
      }
    }
  }
  .col-team-member {
    @include make-col(4);
    @include px(3);
    @include py(3);
    @include media-breakpoint-down(md) {
      @include px(2);
      @include py(2);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
      @include my(3);
      text-align: center;
      .card {
        width: 216px;
        @include mx(auto);
      }
    }
  }
}

.section-struggles-are-valid {
  .wrap-bg-shape {
    .bg-shape {
      width: 90%;
      right: -35%;
      bottom: -110px;
      transform: rotate(7deg);
      -webkit-transform: rotate(7deg);
      @include media-breakpoint-up(xxl) {
        right: -31.5%;
        bottom: -157px;
      }
      @include media-breakpoint-down(lg) {
        width: 100%;
        right: -42%;
      }
      @include media-breakpoint-down(md) {
        bottom: 0px;
        right: -46%;
      }
      @include media-breakpoint-down(sm) {
        bottom: -68px;
        right: -57%;
        width: 140%;
      }
    }
  }
  .vector-image {
  }
  .col-text {
    @include pl(1);
    @include mt(5);

    @include media-breakpoint-down(lg) {
      @include px(4);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
      @include mb(10);
      //@include mt(6);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include mt(0);
      @include mb(6);
    }
  }
}

.section-howitworks {
  // > .container{
  //   @include media-breakpoint-down(md) {
  //     @include px(0);
  //   }
  // }
  .col-text-title {
    @include px(3);
    @include pl(2);
    @include make-col(5);
    @include make-col-offset(1);

    @include media-breakpoint-down(lg) {
      @include px(4);
      @include make-col(6);
      @include make-col-offset(0);
    }
    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
    }
  }

  .row-cards {
    .col-cards {
      @include make-col(11);
      @include make-col-offset(1);
      @include px(3);
      @include pl(1);

      @include media-breakpoint-down(lg) {
        @include make-col(12);
        @include make-col-offset(0);
        @include px(4);
      }
      @include media-breakpoint-down(md) {
        @include px(3);
      }

      .col-card {
        @include make-col(3);
        @include px(3);
        @include media-breakpoint-down(md) {
          @include px(2);
        }
        @include media-breakpoint-down(sm) {
          @include make-col(4);
          @include px(2);
        }
        @include media-breakpoint-down(xs) {
          @include make-col(12);
          @include px(2);
          @include mb(8);
          text-align: center;
          .card {
            width: 215px;
            @include mx(auto);
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(sm) {
      @include px(2);
    }
    @include media-breakpoint-down(xs) {
      @include px(2);
    }
  }
}

.how-it-works-list {
  .card {
    position: relative;

    .card-body {
      @include media-breakpoint-down(lg) {
        padding: 12px;
      }
      p {
        @include mb(4);
        @include media-breakpoint-down(lg) {
          @include mb(3);
        }
      }
    }
    .icon {
      position: absolute;
      left: 50%;
      top: 0;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      span {
        font-size: 25px;
        color: $white;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }
  }
}

.section-partnerwithemployer {
  .col-text {
    @include make-col(9);
    @include px(3);
    @include media-breakpoint-down(lg) {
      @include make-col(10);
      @include px(1);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
    }
  }

  .row-cards {
    @include mt(4);
    @include mb(5);
    @include media-breakpoint-down(md) {
      @include px(3);
      @include mb(5);
    }
    .col-cards {
      @include make-col(6);
      @include px(3);
      @include my(3);
      @include mx(0);

      @include media-breakpoint-down(md) {
        @include px(2);
        @include my(2);
      }
      @include media-breakpoint-down(sm) {
        @include make-col(12);
        @include px(3);
        @include my(3);
      }

      .card-col-text {
        @include make-col(8);
        @include px(3);
        @include media-breakpoint-down(md) {
          @include pr(0);
        }
      }
    }
  }
}

.modal-xl {
  @include media-breakpoint-down(lg) {
    max-width: 940px;
  }

  @include media-breakpoint-down(md) {
    max-width: 730px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 90%;
  }
}

$contact-transition-1: 0.3s linear;
$contact-transition-2: 0.5s linear;

#contactModal {
  .modal-close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  &.fade {
    transition: opacity $contact-transition-1;
  }
  > .wrap-bg-shape {
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: opacity $contact-transition-1;

    .contact-bg-shape-1 {
      width: 86%;
      left: -50.5%;
      top: 38%;
      transform: rotate(168deg);
      -webkit-transform: rotate(168deg);
      transition: top $contact-transition-2;
    }
    .contact-bg-shape-2 {
      width: 86%;
      right: -38.5%;
      bottom: 49%;
      transform: rotate(348deg);
      -webkit-transform: rotate(348deg);
      transition: bottom $contact-transition-2;
    }
  }

  &.show {
    > .wrap-bg-shape {
      opacity: 1;
      .contact-bg-shape-1 {
        top: -8%;
        @include media-breakpoint-down(lg) {
          top: -2%;
        }
        @include media-breakpoint-down(sm) {
          top: 2%;
          left: -50.5%;
        }
      }
      .contact-bg-shape-2 {
        bottom: -19%;
        @include media-breakpoint-down(lg) {
          bottom: -13%;
        }
        @include media-breakpoint-down(sm) {
          bottom: -4%;
          right: -34.5%;
        }
      }
    }
  }

  .modal-dialog {
    margin: 223px auto 105px;
    opacity: 0;
    transition: opacity $contact-transition-1;
    @include media-breakpoint-down(md) {
      margin-top: 200px;
    }
    @include media-breakpoint-down(sm) {
      margin: 135px auto 80px;
    }
    .h2 {
      @include media-breakpoint-down(sm) {
        @include px(5);
      }
    }

    .modal-body {
      @include media-breakpoint-down(sm) {
        @include pb(7);
        @include pt(4);
        @include px(4);
      }
    }
    .modal-content {
      box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.43);

      .wrap-bg-shape {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        border-radius: 20px;
      }

      .contact-content-bg-shape-1 {
        width: 116%;
        left: -99%;

        top: 6%;
        transform: rotate(165deg);
        -webkit-transform: rotate(165deg);
        @include media-breakpoint-down(lg) {
          width: 133%;
          left: -115%;
        }
        @include media-breakpoint-down(sm) {
          left: -86%;
          top: initial;
          bottom: -176px;
        }
      }
      .contact-content-bg-shape-2 {
        width: 116%;
        right: -94.5%;
        bottom: -31%;
        transform: rotate(17deg);
        -webkit-transform: rotate(17deg);
        @include media-breakpoint-down(lg) {
          bottom: -12%;
        }
        @include media-breakpoint-down(sm) {
          bottom: initial;
          top: 4px;
          right: -143.5%;
          width: 166%;
        }
      }
    }
  }

  .logo-wrap {
    height: 63px;
    position: absolute;
    top: 45px;
    left: 9%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    // -webkit-transform: scaleY(0.6);
    // transform: scaleY(0.6);
    transition: all $contact-transition-2;

    img {
      height: 100%;
    }
  }

  &.show {
    .modal-dialog {
      opacity: 1;
    }
    .logo-wrap {
      height: 114px;
      top: 56px;
      left: 50%;
      @include media-breakpoint-down(md) {
        height: 90px;
      }
      @include media-breakpoint-down(sm) {
        height: 72px;
        top: 36px;
      }

      img {
        height: 100%;
      }
    }
  }
}
#solutions {
  .title-solution {
    @include mb(1);
    @include media-breakpoint-down(sm) {
      text-align: center;
      @include px(4);

      // @include mt(3);
    }
  }
  .row-cards {
    @include mt(5);
    @include mb(7);
    @include media-breakpoint-down(md) {
      @include px(3);
      @include mb(5);
    }
    @include media-breakpoint-down(sm) {
      @include mb(3);
    }
    .col-cards {
      @include make-col(6);
      @include px(3);
      @include my(3);

      @include media-breakpoint-down(md) {
        @include px(2);
        @include my(2);
      }
      @include media-breakpoint-down(sm) {
        @include make-col(12);
        @include px(3);
        @include my(4);
      }

      .card-col-text {
        @include make-col(8);
        @include px(3);
        @include media-breakpoint-down(md) {
          @include pr(0);
        }
      }
    }
  }
}

.solution-card {
  p {
    @include pr(3);
    @include media-breakpoint-down(lg) {
      @include pr(0);
    }
  }
  .icon-wrap {
    float: right;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-top: 0.25rem;

    &.counseling {
      background-size: 55%;
      background-position: 13px 13px;
    }
    &.analytics {
      background-size: 50%;
      background-position: 16px 17px;
    }

    &.culture {
      background-size: 53%;
      background-position: 14px 12px;
    }

    &.crisis {
      background-size: 52%;
      background-position: 16px 15px;
    }
    &.cost-free {
      background-size: 54%;
      background-position: 15px 12px;
    }
    &.convenient {
      background-size: 52%;
      background-position: 15px 14px;
    }
    &.competent {
      background-size: 55%;
      background-position: 14px 13px;
    }
    &.confidential {
      background-size: 50%;
      background-position: 16px 15px;
    }
  }
}
.section-testimony {
  @include pt(6);
  @include pb(5);
  @include media-breakpoint-down(md) {
    @include pt(0);
    @include pb(2);
  }
  .col-text {
    @include make-col(4);
    @include pr(0);
    @include mb(8);
    @include pl(4);

    @include media-breakpoint-down(md) {
      @include pl(3);
      @include mb(10);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include pr(5);
      @include mb(4);
    }
  }

  .col-testimonies {
    @include make-col(8);
    @include px(3);
    @include py(5);
    @include pr(2);
    @include media-breakpoint-down(md) {
      @include pr(0);
      @include pt(0);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
    }
  }
}
.contact-form-wrap {
  @include pt(6);
  @include pb(5);
  @include media-breakpoint-down(md) {
    @include pt(4);
  }
  .col-form {
    @include make-col(7);
    @include px(3);

    @include media-breakpoint-down(lg) {
      @include make-col(9);
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
      @include px(4);
    }
  }
}

.testimony-card {
  .icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    &.facebook {
      background-color: $fb-bg;
      background-image: url("/images/icons/facebook.svg");
      background-size: 53%;
      background-position: 9px 10px;
    }
    &.twitter {
      background-color: $twitter-bg;
      background-image: url("/images/icons/twitter.svg");
      background-size: 50%;
      background-position: 11px 10px;
    }
  }
}

$slider-height: 11px;
$slider-radius: $border-radius;
$slider-color: $gray-200;
$slider-lowerfill-color: transparent;

$cursor-color: $orange;
$cursor-height: 20px;
$cursor-width: 48px;

.employees-calculator {
  .col-card-slider {
    @include make-col(8);
    @include px(3);
    @include media-breakpoint-down(lg) {
      @include make-col(9);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(3);
    }
  }
  .slider-card {
    margin-top: -80px;
    .card-body {
      @include py(5);
      @include px(7);
      @include media-breakpoint-down(sm) {
        @include px(4);
      }
      .col-text-slider {
        @include make-col(7);
        @include px(3);
        @include media-breakpoint-down(sm) {
          @include make-col(12);
        }
        .slider-title {
          @include mb(1);
          @include media-breakpoint-down(sm) {
            @include mb(0);
          }
        }
      }
    }
  }

  #employees-slider {
    position: relative;
    height: $slider-height;
    width: 100%;
    background: $slider-color;
    border-radius: $slider-radius;

    cursor: pointer;
    @include mt(5);
    @include mb(4);
    @include media-breakpoint-down(sm) {
      @include mt(4);
      @include mb(3);
    }

    .slider-cursor {
      position: absolute;
      top: ($slider-height - $cursor-height)/2;
      left: 0;
      width: $cursor-width;
      height: $cursor-height;
      border-radius: $border-radius;
      border: none;
      box-shadow: 0 0 0 1px $white;
      background-color: $cursor-color;
      //transform: translateY(-50%);
      z-index: 20;
      background-image: url("/images/icons/slider-arrows.png");
      background-size: 58%;
      background-repeat: no-repeat;
      background-position: center center;

      .cursor-value {
        color: $orange;
        position: absolute;
        bottom: -34px;
        cursor: pointer;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: -5px;
        //   left: 0;
        //   width: 36px;
        //   height: 5px;
        //   border-radius: 2.5px;
        //   background: $medium-grey;
        //   left: 50%;
        //   -webkit-transform: translateX(-50%);
        //   transform: translateX(-50%);
        // }
      }
    }
    // .lower-fill {
    //   position: absolute;
    //   top: -1px;
    //   left: -1px;
    //   height: $slider-height;
    //   background: $slider-lowerfill_color;
    //   border-radius: $slider-radius;
    //   z-index: 0;
    // }
  }
}
.col-getsupport {
  @include media-breakpoint-down(sm) {
    @include px(2);
  }
}

.get-support-card {
  .card-body {
    @include py(6);
    @include media-breakpoint-down(sm) {
      @include py(5);
      @include px(5);
    }
    .support-title {
      @include mb(3);
      @include media-breakpoint-down(sm) {
      }
    }
    .btn {
      @include mt(5);
      @include media-breakpoint-down(sm) {
        @include mt(4);
      }
    }
  }
}

.home {
  .get-support-card {
    margin-top: -185px;
  }
}

.section-getsupport {
  @include px(7);
  @include media-breakpoint-down(lg) {
    @include px(0);
  }
}
$featured-logo-size: 0.7;
$featured-logo-size-sm: 0.55;
.section-featuredin {
  .logo-list {
    li {
      margin: 15px 20px;
      @include media-breakpoint-down(lg) {
        margin: 15px 13px;
      }
      @include media-breakpoint-down(sm) {
        margin: 9px;
      }
      @include media-breakpoint-down(xs) {
        margin: 8px;
      }
      img {
        max-width: 100%;

        &.rappler {
          $s: 165px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
        &.eightlist {
          $s: 159px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
        &.wonder {
          $s: 159px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
        &.nolisoli {
          $s: 159px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
        &.wim {
          $s: 83px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
        &.cnn {
          $s: 95px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
        &.tripzilla {
          $s: 180px;
          width: $s * $featured-logo-size;
          @include media-breakpoint-down(sm) {
            width: $s * $featured-logo-size-sm;
          }
        }
      }
    }
  }
}

.section-getintouch {
  position: relative;
  overflow: hidden;
  .wrap-bg-shape {
    width: 100%;
    height: 100%;
    position: absolute;

    border-radius: 20px;

    .bg-shape {
      path {
        fill: #ff523a;
      }
    }

    .getintouch-bg-shape-1 {
      width: 89%;
      left: -67%;
      top: -11%;
      transform: rotate(165deg);
      -webkit-transform: rotate(165deg);
    }
    .getintouch-bg-shape-2 {
      width: 79%;
      right: -41.5%;
      bottom: 3%;
      transform: rotate(17deg);
      -webkit-transform: rotate(17deg);
    }
  }

  .invalid-feedback {
    color: $white;
  }
  .form-response {
    color: $purple !important ;
  }
}

.section-recorded-videos {
  .wrap-bg-shape {
    .bg-shape {
      width: 86%;
      right: -30%;
      bottom: -158px;
      transform: rotate(11deg);
      -webkit-transform: rotate(11deg);
      @include media-breakpoint-up(xxl) {
        right: -30.5%;
        bottom: -205px;
      }
      @include media-breakpoint-down(lg) {
        bottom: -135px;
        width: 116%;
        right: -58%;
      }
      @include media-breakpoint-down(md) {
        bottom: -90px;
      }
      @include media-breakpoint-down(sm) {
        right: -33%;
        width: 105%;
      }
    }
  }
  .col-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include pr(5);

    @include media-breakpoint-down(md) {
      @include px(0);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      @include px(4);
      @include mt(3);
      @include mb(10);
    }
    .section-title {
      color: #fff;
    }
  }

  .videos-container {
    * {
      box-sizing: border-box;
      scrollbar-color: transparent transparent; /* thumb and track color */
      scrollbar-width: 0px;
    }
    
    *::-webkit-scrollbar {
      width: 0;
    }
    
    *::-webkit-scrollbar-track {
      background: transparent;
    }
    
    *::-webkit-scrollbar-thumb {
      background: transparent;
      border: none;
    }
    
    * {
      -ms-overflow-style: none;
    }  
    video {
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: $orange;
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.25rem;
}

.auth-div {
  display: none;
  position: relative;
  &.show {
    display: block;
  }
  .back-btn {
    position: absolute;
    left: 1rem;
    top: 1rem;
    &:hover {
      text-decoration: none;
    }
  }
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  padding-right: 2.5em !important;
}
