nav.navbar {
  padding: 0;

  p{
    margin-bottom: 0;
  }

  .navbar-toggler {
    border: none;
    background-image: url("/images/icons/nav-toggler.svg");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20px;
    width: 31px;
    padding: 0;
    border-radius: 0;
  }
  
  .navbar-brand {
    width: 86px;

    @include media-breakpoint-down(sm) {
      width: 70px;
    }

    img.logo {
      width: 100%;
    }
  }

  .user-menu{
    .dropdown-toggle{
      &:after {
        display: none;
        
      }
    }
    .avatar{
      width: 100px;
      height: 100px;
      //border: 2px solid white;
      border-radius: 50%;
      overflow: hidden;
    }
     .dropdown-menu {
        border-radius: 0;
       
        padding: 0;
        border: none;
        width: auto;
        border-radius: 10px;
        overflow: hidden;
        min-width: 250px;


        li.user-header {
 
          height: auto;
      }
        .user-footer {
          background: none;
          
      }
      .nav-item{
        text-transform: uppercase;
        text-align: center;
        
 
        .nav-link{
          height: auto;
          @include px(2);
          @include py(1);
          color: $gray-800;
          font-size: $font-size-md;
          &.active{
            color: $yellow;
          }

        }
      }
    }
  }
}

  
footer{
  &.border-multicolor-bottom {
    &:after {
      height: 7px;
    }
  }
}

.btn,
a,
input,
textarea,
button {
  &:focus {
    outline: none;
  }
}
.fill-purple {
  path {
    fill: $purple;
  }
}
.fill-orange {
  path {
    fill: $orange;
  }
}
.fill-blue {
  path {
    fill: $blue;
  }
}
.fill-yellow {
  path {
    fill: $yellow;
  }
}
.fill-teal {
  path {
    fill: $teal;
  }
}

.bg-shape {
  position: absolute;
  height: auto; 
  overflow: visible;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
  }

  path {
    width: 100%;
    height: auto;
  }
}

.font-size-sm {
  font-size: $font-size-sm !important;
  line-height: $line-height-sm !important;
}
.font-size-md {
  font-size: $font-size-md !important;
  line-height: $line-height-md !important;
}

.shadow-blue {
  box-shadow: 10px 15px 30px 0 rgba(49, 88, 255, 0.15);
}
.shadow-orange {
  box-shadow: 10px 15px 30px 0 rgba(255, 59, 32, 0.12);
}
.shadow-purple {
  box-shadow: 10px 15px 30px 0 rgba(119, 78, 157, 0.16);
}
.shadow-teal {
  box-shadow: 10px 15px 30px 0 rgba(32, 204, 190, 0.18);
}

.shadow-lg-purple {
  //box-shadow: $box-shadow-lg-purple;
  box-shadow: 0 30px 25px 0 rgba(161, 110, 255, 0.15);
}
.shadow-lg-orange {
  //box-shadow: $box-shadow-lg-orange;
  box-shadow: 0 30px 25px 0 rgba(255, 85, 32, 0.12);
}
.shadow-lg-blue {
  //box-shadow: $box-shadow-lg-blue;
  box-shadow: 0 30px 25px 0 rgba(67, 83, 165, 0.19);
}

$multicolor-border: linear-gradient(
  to right,
  $orange 20%,
  $yellow 20%,
  $yellow 40%,
  $teal 40%,
  $teal 60%,
  $purple 60%,
  $purple 80%,
  $blue 80%
);

.border-multicolor-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  &:after {
    background: $multicolor-border;
    position: absolute;
    content: "";
    height: 3px;
    right: 0;
    left: 0;
    top: 0;
  }
}

.border-multicolor-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  &:after {
    background: $multicolor-border;
    position: absolute;
    content: "";
    height: 3px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.btn {
  text-transform: uppercase;
}
.btn-min-width-lg {
  min-width: 298px;
  @include media-breakpoint-down(md) {
    min-width: 230px;
  }
}
.btn-min-width-sm {
  min-width: 92px;
}

.btn-yellow{
  
  &:hover{
    background-color: darken($yellow, 15%);
  }
}
.btn-orange{
  &:hover{
    background-color: darken($orange, 13%);
  }
}



.bootstrap-datetimepicker-widget {
  @extend .shadow-lg;
  border-radius: $border-radius-sm;
  border-color: $gray-200;
  padding: 10px;
  &.dropdown-menu {
    width: 27em;
  }
  &:before {
    border-top-color: $gray-200 !important;
  }
}
.bootstrap-datetimepicker-widget table td.day {
  height: 45px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table th {
  height: 45px;
  line-height: 20px;
  width: 20px;
  color: $gray-700;
}

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  color: $gray-400;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td span.active:hover  {
  background-color: $teal;
  color: #fff;
  text-shadow: none;
}









select.placeholder{
  color: $gray-400;
}


select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  padding-right: 2.5em !important;
}



//BOOTSTRAP DATETIMEPICKER
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
  @include media-breakpoint-down(sm) {
    width: auto;
    padding: 0 2px;
  height: 40px;
  line-height: 40px;
  }
}

.bootstrap-datetimepicker-widget {
  box-shadow: none !important;
  border: 3px solid $teal;

  &.dropdown-menu {
    @extend .shadow-lg;
    border: none;
    @include media-breakpoint-down(sm) {
      width: 19em;
    }
  }
}